* {
  cursor: url("/pointinghand.svg") 0 0, auto !important;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fff;
  font-family: Arial, sans-serif;
  padding: 20px;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
}
